
html{
    box-sizing: border-box;  /*фиксирует границы у все блоков*/
    scroll-behavior: smooth; 
}
*, *::before, *::after{
    box-sizing: inherit;     /*Наследование для всех элементов*/
  } 
body{
    background-color: #e5e5e5;
    margin: 0;
    width: 100%;
}
/* img{
    display: block;
    object-fit: contain;
  } */
li{
    list-style-type: none;
}
.container{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    max-width: 1440px;  
    background: rgba(255, 255, 255, 1);  
    position: relative;
}
/*HEADER STYLE START*/

.header{
    position: relative;
}

.header_bg{
    position: absolute;
    height: 90px;
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
    width: 100%;
}


.header_wrapper{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: space-between;
}
.header_logo{
    width: 216.75px;
    height: 31px;
    margin-top: 25px;
}
.header_nav_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 35px;
}
.header_nav_item{
    margin-right: 42px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    
}
.header_nav_link{
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
}


.header_nav_lin:hover, .header_nav_lin:focus,.header_nav_lin:active{
    opacity: 0.75;


}
.header_button{
    width: 103px;
    height: 41px;
    background: #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    border: 0;
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF; 
    margin-top: 25px;
}

/*HEADER STYLE END*/

/*SECTION PREVIEW STYLE START*/

.preview{

    height: 765px; 
    background: url(image/prewiev.png) no-repeat center;
    background-size: cover; /*Покрывает блок сохраняя размеры*/


}

.preview_block{
    max-width: 892px;
    margin-left: 120px;
    padding-top: 122px; 

    

}
.preview_block h1{
    margin-bottom: 33px;
    margin-top: 0px;
    font-family: 'Aleo', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    color: #FFFFFF;
}

.preview_block p{
    
    font-family: 'Aleo', serif;
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 45px;
    
}
.preview_form{
    /* position: absolute; */
    width: 892px;
    height: 95px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    display: flex;
    align-items: center;
    margin-top: 40px;

    
}

.preview_button{
    min-width: 228px;
    min-height: 59px;
    padding: 0 10px;
    font-family: "Red Hat Text", sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    color: #fff;
    background-color: #0d606f;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border: none;
    border-radius: 10px;
    transition: color 0.3s;
    white-space: nowrap;
    margin-left: 45px;
}

.preview_input{
    font-family: 'Aleo', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F2785C;
    border: none;
    outline: none;
    background: transparent;  
    margin-left: 41px;
    width: 560px;

}
.preview_input::placeholder {
    color: #f2785c;
  }

  /*SECTION PREVIEW STYLE END*/

.steps{
    position: relative;
    max-width: 1177px;
    height: 247px; 
    background-color: #0d606f;
    margin-left: 125px;

  }

.steps_block{
    max-width: 1177px;
    /* display: flex; */
  }

.steps_block_main{
    max-width: 611px;
    margin: 0 auto;
}

.steps_block_main h2{
    font-family: "Red Hat Text", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
}

.steps_block_box_icon{
    display: flex;
    align-items: center;
}
.steps_icon_three_img{
    position: absolute;
    height: 100px;
    width: 100px;
}